@charset "ISO-8859-1";

/****************RESET**********************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************FIN RESET**********************/

@font-face {
    font-family: fuenteCaireles;
    src: url("../fonts/fuenteCaireles.otf");
}

html, body{
	width: 100%;
	font-family: fuenteCaireles;
}

/************HEADER*************/
header{ 
	background-color: white;
	padding-bottom: 0.5%;
}

.clear{
	clear:both;
}

	.headerEntero{
		max-width: 80%;
		margin: 0 auto;
	}
	
		.headerIzquierda{
			display: inline-block;
			width: 20%;
		}
		
			.headerIzquierda img{
				width: 100%;
			}
		
		.headerCentro{
			display: inline-block;
			margin: 0 auto;
			width: 60%;
			vertical-align: top;
			padding-left: 3%;
		}
		
			.parteSuperior{
				font-size: 26px;
				padding: 1% 0;
			}
			
			.parteInferior{
				padding: 2% 0;
			}
			
				.menuNavHeader ul li{
					display: inline-block;
					font-size: 20px;
				}
				
				.menuNavHeader ul li:not(:first-child){
					display: inline-block;
					padding: 0 1%;
				}
		.headerDerecho{
			display: inline-block;
			width: 16%;
			height: 100%;
			vertical-align: top;
			padding: 1% 0;
			text-align: center;
		}
		
			.banderas{
				padding-bottom: 5%;
			}
		
			.banderaIdioma{
				display: inline-block;
				width: 40%;
			}
			
			.banderaIdioma img{
				max-height: 15px;
			}
			
			.redesSociales{
				padding: 9% 0;
				vertical-align: bottom;
			}
			
				.iconoRedSocial{
					display: inline-block;
					width: 15%;
				}
main{
	background-image: url("../img/seccion2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

	#sectionNosotros{
		background-image: url("../img/seccion1.jpg");
		color: white;
	}
	
	#sectionServPrincipal{
		background-color: transparent;
		color: white;
	}
	
		.cajaSectionIndex1170{
			max-width: 1170px;
			margin: 0 auto;
			text-align: center;
			padding: 3% 0;
		}
		
			.textoSecInd1170{
				font-size: 96px;
				width: 80%;
				margin: 0 auto;
				padding: 3% 0;
			}
			
			.enlaceSecInd1170{
				font-size: 18px;
				font-weight: bold;
				width: 10%;
				margin: 3% auto;
				padding: 1% 6%;
				background-color: black;
				color:white;
			}
	
	#sectionPatriMundial{
		background-color: white;
	}
	
		.textoPatrimonio{
			font-size: 24px;
			width: 80%;
			margin: 0 auto;
			margin-bottom: 3%;
		}
		
		.logoPatrimonio{
			max-width: 1170px;
			margin: 0 auto;
		}
	
	#sectionGrupoServicios{
		background-color: white;
		width: 100%;
	}
		.contenidoSectionGrupoServicios{
			width: 96%;
			margin: 0 auto;
			padding-bottom: 3%;
		}

		.subgrupo{
			display: inline-block;
			width: 22.4667vw;
			height: 22.4667vw;
			margin: 0 0.5%;
			border-radius: 9%;
			background-position:center;
			background-size: cover;
		}
		
			.contenidoSectionGrupoServicios .subgrupo:first-child{
				background-image: url("../img/tradicionImg.jpg");
				
			}
			
			.contenidoSectionGrupoServicios .subgrupo:nth-child(2){
				background-image: url("../img/artesaniaImg.jpg");
			}
			
			.contenidoSectionGrupoServicios .subgrupo:nth-child(3){
				background-image: url("../img/bordadoImg.jpg");
			}
			
			.contenidoSectionGrupoServicios .subgrupo:last-child{
				background-image: url("../img/modaImg.jpg");
			}
		
			.contenidoSubgrupo{
				position: relative;
				top: 45%;
				text-align: center;
			}
			
				.textoSubgrupo{
					font-size: 24px;
					font-weight: bold;
					padding-bottom: 5%;
				}
				
				.botonSubgrupo{
					margin: 0 auto;
					padding: 3% 0;
					width: 40%;
					background-color: black;
					color: white;
					font-size: 18px;
				}
			
	#sectionCursosVideo{
		width: 100%;
		background-color: white;
	}
	
	.contenidoSectionCursosVideo{
		width: 80%;
		margin: 0 auto;
		height: 26.467vw;
		padding-bottom: 3%;
	}
		
		.videoBordado{
			display: inline-block;
			width: 60%;
			height: 100%;
			background-color: red;
		}
			.videoBordado iframe{
				width: 100%;
				height: 100%;
			}
		
		.contenidoInfoCursosBordado{
			display: inline-block;
			width: 30%;
			vertical-align: top;
			padding-top: 9%;
			margin-left: 7%;
		}
		
			.tituloInfoCursosBordado{
				font-size: 36px;
				font-weight: 700;
				text-align: center;
				padding-bottom: 12%;
			}
			
			.textoInfoCursosBordado{
				font-size: 26px;
				text-align: center;
				padding-bottom: 12%;
			}
			
			.botonInfoCursosBordado{
				width: 50%;
				padding: 3%;
				margin: 0 auto;
				text-align: center;
				color:white;
				background-color: black;
				font-size: 18px;
			}
	
	footer{
		background-image: url("../img/fondoFooter.jpg");
	}
	
		.contenidoFooter{
			max-width: 1170px;
			margin: 0 auto;
			padding: 3% 0;
			color: white;
		}
		
		.tituloColumnaFooter{
			font-size: 20px;
		}
		
			.logoCairelesFooter{
				text-align: center;
				margin: 0 auto;
			}
			
			.logoCairelesFooter img{
				max-width: 235px;
				text-align: center;
			}
		
			.fraseComunicate{
				text-align: center;
				padding: 3% 0;
				font-size: 20px;
			}
			
			.contenidoColumnas{
				font-size: 15px;
			}
			
			.columnaEnlaces{
				display: inline-block;
				width: 30%;
				text-align: center;
			}
				
				.contenidoColumnaEnlaces{
					width: 90%;
					margin: 0 auto;
				}
				
					.opcionesColumnaEnlaces{
						padding-top: 25px;
					}
					
						.opcionesColumnaEnlaces p{
							padding-bottom: 15px;
						}
			
			.columnaContacto{
				display: inline-block;
				width: 30%;
				text-align: center;
				padding: 0 4%;
				border-left: 1px solid;
				border-left-color: white;
				border-right: 1px solid;
				border-right-color: white;
			}
			
				.contenidoColumnaContacto{
					width: 99%;
					margin: 0 auto;
				}
				
					.infoColumnaContacto{
						padding-top: 25px;
					}
					
						.infoColumnaContacto p{
							padding-bottom: 15px;
						}
						
						.redesSocialesFooter{
							padding-bottom: 15px;
						}

			.columnaLegal{
				display: inline-block;
				width: 30%;
				text-align: center;
			}
			
				.contenidoColumnaLegal{
					width: 90%;
					margin: 0 auto;
				}
				
					.enlacesColumnaLegal{
						padding-top: 25px;
					}
					
						.enlacesColumnaLegal p{
							padding-bottom: 15px;
						}


@media (max-width: 1520px){
	
	.contenidoInfoCursosBordado{
		padding-top: 7%;
		margin-left: 9%;
	}
	
	.tituloInfoCursosBordado{
		font-size: 2.3vw;
	}
	
	.textoInfoCursosBordado{
		font-size: 1.5333vw;
	}
	
	.botonInfoCursosBordado{
		font-size: 1.2vw;
	}
}

@media (max-width:1387px){
	.parteSuperior{
		font-size: 1.8541vw;
	}
}

@media (max-width:1320px){
	.menuNavHeader ul li{
		font-size: 1.4417vw;
	}
	
	.textoSubgrupo{
		font-size: 1.8181vw;
	}
	
	.botonSubgrupo p{
		font-size: 1.3636vw;
	}
	
	.botonInfoCursosBordado p{
		font-size: 1.3636vw;
	}
}

@media only screen and (max-width:1190px){
	.cajaSectionIndex1170{
		max-width: none;
		width: 100%;
		padding: 3% 0;
	}
	
		.textoSecInd1170{
			font-size: 8.0672vw;
		}
		
		.enlaceSecInd1170{
			font-size: 1.5126vw;
		}
}

@media (max-width:1020px){
	
	header{
		padding-bottom: 0;
	}
		.headerEntero{
			max-width: none;
			width: 98%;
			margin: 0 auto;
			padding-bottom: 0;
			padding-top: 1%;
		}
		
		.headerCentro{
			width: 50%;
			padding-left: 0;
			margin: 0 4%;
		}
		
		.headerDerecho{
			width: 20%;
			margin: 0 auto;
			padding-bottom: 0;
			
		}
	
	.textoPatrimonio{
		width: 90%;
		font-size: 2.8529vw;
	}
	
	.logoPatrimonio img{
		width: 30.5098vw;
		margin: 0 auto;
	}
}

@media (max-width:870px){
	.contenidoColumnaEnlaces{
		width: 100%;
	}
	
	.tituloColumnaFooter{
		font-size: 2.3529vw;
	}
	
	.contenidoColumnas{
		font-size: 1.6647vw;
	}
}

@media (max-width:770px){
	.enlaceSecInd1170{
		font-size: 2.5126vw;
		width: 12%;
		padding: 2% 6%;
	}
	
	.fraseComunicate{
		font-size: 2.6667vw;
	}
}