@charset "ISO-8859-1";

/****************RESET**********************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************FIN RESET**********************/

@font-face{
    font-family: fuenteCaireles;
    src: url("../fonts/fuenteCaireles.otf");
}

@font-face{
	font-family: AmikoReg;
	src: url("../fonts/Amiko-Regular.ttf");
}

@font-face{
	font-family: AmikoSemB;
	src: url("../fonts/Amiko-SemiBold.ttf");
}

@font-face{
	font-family: AmikoBold;
	src: url("../fonts/Amiko-Bold.ttf");
}

html, body{
	width: 100%;
	font-family: AmikoReg;
}

/************HEADER*************/

.iconoRedSocial a:visited, .iconoRedSocialFila1 a:visited, .iconoRedSocialFila2 a:visited, .iconoRedSocial a:link, .iconoRedSocialFila1 a:link, .iconoRedSocialFila2 a:link{
	color: black;
}

.iconoRedSocialFooter a:visited, .iconoRedSocialFooter a:link{
	color: white;
}

#headerWeb{ 
	background-color: white;
	width: 100%;
	position: static;
	z-index: 99;
}

.clear{
	clear:both;
}

	.headerEntero{
		max-width: 80%;
		margin: 0 auto;
	}
	
	.headerEnteroMin{
		display: none;
	}
	
		.headerIzquierda{
			display: inline-block;
			width: 20%;
			padding-top: 8px;
		}
		
			.headerIzquierda img{
				width: 85%;
			}
		
		.headerCentro{
			display: inline-block;
			margin: 0 auto;
			width: 60%;
			vertical-align: top;
			padding-left: 2%;
			padding-top: 5px;
		}
		
			.parteSuperior{
				font-size: 25px;
				padding: 1% 0;
			}
			
			.parteInferior{
				padding: 2% 0;
			}
			
				.menuNavHeader ul li{
					display: inline-block;
					font-size: 19px;
				}
				
					.menuNavHeader ul li a:link, .menuNavHeader ul li a:visited{
						text-decoration: none;
						color: black;
					}
				
				.menuNavHeader ul li:not(:first-child){
					display: inline-block;
					padding: 0 1%;
				}
		.headerDerecho{
			display: inline-block;
			width: 16%;
			height: 100%;
			vertical-align: top;
			padding: 1% 0;
			text-align: center;
		}
		
			.banderas{
				padding-bottom: 5%;
			}
		
			.banderaIdioma{
				display: inline-block;
				width: 40%;
			}
			
			.banderaIdioma img{
				max-height: 15px;
			}
			
			.redesSociales{
				padding: 9% 0;
				vertical-align: bottom;
			}
			
				.iconoRedSocial, .iconoRedSocialFooter, .iconoRedSocialFila1, .iconoRedSocialFila2{
					display: inline-block;
					width: 15%;
				}

	.botonSubir{
		visibility:hidden;
		color: white;
		background-color: #bababa;
		position: fixed;
		font-size: 30px;
		right: 0;
		bottom: 0;
		border: 5px solid black;
		padding: 5px 5px;
		margin-bottom: 7%;
	}
	
	.botonSubir a:visited, .botonSubir a:link, .botonSubir.a:hover{
		color: white;
	}
	
#mainIndex{
	background-image: url("../img/seccion2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
	
	#rellenoSticky{
		width: 100%;
		background-color: white;
	}

	#sectionNosotros{
		background-image: url("../img/seccion1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	
	#sectionServPrincipal{
		background-color: transparent;
		color: white;
	}
	
		.cajaSectionIndex1170{
			max-width: 1170px;
			margin: 0 auto;
			text-align: center;
			padding: 3% 0;
		}
		
			.textoSecInd1170{
				font-size: 96px;
				width: 80%;
				margin: 0 auto;
				padding: 3% 0;
			}
			
			.enlaceSecInd1170{
				font-size: 18px;
				font-weight: bold;
				width: 10%;
				margin: 3% auto;
				padding: 1% 6%;
				background-color: black;
				color:white;
			}
				.enlaceSecInd1170 p a:link, .enlaceSecInd1170 p a:visited{
					text-decoration: none;
					color: white;
				}
	
	#sectionPatriMundial{
		background-color: white;
	}
	
		.textoPatrimonio{
			font-size: 24px;
			width: 80%;
			margin: 0 auto;
			margin-bottom: 3%;
		}
		
		.logoPatrimonio{
			max-width: 1170px;
			margin: 0 auto;
		}
	
	#sectionGrupoServicios{
		background-color: white;
		width: 100%;
	}
		.contenidoSectionGrupoServicios{
			width: 96%;
			margin: 0 auto;
			padding-bottom: 3%;
		}

		.subgrupo{
			display: inline-block;
			width: 22.4667vw;
			height: 22.4667vw;
			margin: 0 0.5%;
			border-radius: 9%;
			background-position:center;
			background-size: cover;
		}
		
			.contenidoSectionGrupoServicios .subgrupo:first-child{
				background-image: url("../img/tradicionImg.jpg");
				
			}
			
			.contenidoSectionGrupoServicios .subgrupo:nth-child(2){
				background-image: url("../img/artesaniaImg.jpg");
			}
			
			.contenidoSectionGrupoServicios .subgrupo:nth-child(3){
				background-image: url("../img/bordadoImg.jpg");
			}
			
			.contenidoSectionGrupoServicios .subgrupo:last-child{
				background-image: url("../img/modaImg.jpg");
			}
		
			.contenidoSubgrupo{
				position: relative;
				top: 45%;
				text-align: center;
			}
			
				.textoSubgrupo{
					font-size: 24px;
					font-weight: bold;
					padding-bottom: 5%;
				}
				
				.botonSubgrupo{
					margin: 0 auto;
					padding: 3% 0;
					width: 40%;
					background-color: black;
					color: white;
					font-size: 18px;
				}
					.botonSubgrupo p a:link, .botonSubgrupo p a:visited{
						text-decoration: none;
						color: white;
					}
			
	#sectionCursosVideo{
		width: 100%;
		background-color: white;
	}
	
	.contenidoSectionCursosVideo{
		width: 80%;
		margin: 0 auto;
		height: 26.467vw;
		padding-bottom: 3%;
	}
		
		.videoBordado{
			display: inline-block;
			width: 60%;
			height: 100%;
		}
			.videoBordado iframe{
				width: 100%;
				height: 100%;
			}
		
		.contenidoInfoCursosBordado{
			display: inline-block;
			width: 30%;
			vertical-align: top;
			padding-top: 9%;
			margin-left: 7%;
		}
		
			.tituloInfoCursosBordado{
				font-size: 36px;
				font-weight: 700;
				text-align: center;
				padding-bottom: 12%;
			}
			
			.textoInfoCursosBordado{
				font-size: 26px;
				text-align: center;
				padding-bottom: 12%;
			}
			
			.botonInfoCursosBordado{
				width: 50%;
				padding: 3%;
				margin: 0 auto;
				text-align: center;
				color:white;
				background-color: black;
				font-size: 18px;
			}
			
				.botonInfoCursosBordado p a:link, .botonInfoCursosBordado p a:visited{
					text-decoration: none;
					color: white;
				}
	
	footer{
		background-image: url("../img/fondoFooter.jpg");
		background-position:center;
		background-size: cover;
	}
	
		.contenidoFooter{
			max-width: 1170px;
			margin: 0 auto;
			padding-top: 3%;
			color: white;
		}
		
		.tituloColumnaFooter{
			font-size: 20px;
		}
		
			.logoCairelesFooter{
				text-align: center;
				margin: 0 auto;
			}
			
			.logoCairelesFooter img{
				max-width: 235px;
				text-align: center;
			}
		
			.fraseComunicate{
				text-align: center;
				padding: 3% 0;
				font-size: 20px;
			}
			
			.contenidoColumnas{
				font-size: 15px;
			}
			
			.columnaEnlaces{
				display: inline-block;
				width: 30%;
				text-align: center;
			}
				
				.contenidoColumnaEnlaces{
					width: 90%;
					margin: 0 auto;
				}
				
					.opcionesColumnaEnlaces{
						padding-top: 25px;
					}
						.opcionesColumnaEnlaces p a:visited, .opcionesColumnaEnlaces p a:link, .opcionesColumnaEnlaces p a:hover{
							color: white;
							text-decoration: none;
						}
						
						.opcionesColumnaEnlaces p a:link{
							text-decoration: none;
						}
						
						.opcionesColumnaEnlaces p{
							display: block;
							padding-bottom: 15px;
						}
			
			.columnaContacto{
				display: inline-block;
				width: 30%;
				text-align: center;
				padding: 0 4%;
				border-left: 1px solid;
				border-left-color: white;
				border-right: 1px solid;
				border-right-color: white;
			}
			
				.contenidoColumnaContacto{
					width: 99%;
					margin: 0 auto;
				}
				
					.infoColumnaContacto{
						padding-top: 25px;
					}
					
						.infoColumnaContacto p{
							padding-bottom: 15px;
						}
						
						.redesSocialesFooter{
							padding-bottom: 15px;
						}

			.columnaLegal{
				display: inline-block;
				width: 30%;
				text-align: center;
			}
			
				.contenidoColumnaLegal{
					width: 90%;
					margin: 0 auto;
				}
				
					.enlacesColumnaLegal{
						padding-top: 25px;
					}
					
						.enlacesColumnaLegal p{
							padding-bottom: 15px;
						}
	.copyright{
		padding-top: 3%;
		padding-bottom: 1%;
		text-align: center;
		font-size: 12px;
	}
/**********************FIN INDEX************************/
/**********************INICIO ACERCA DE NOSOTROS********/
.encabezadoGeneral{
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#encAcercaNosotros{
	background-image: url("../img/acercaNosotros/encabezadoGeneral.jpg");
}

	.contenidoEncabezado{
		max-width: 1170px;
		margin: 0 auto;
		text-align: center;
		font-family: AmikoBold;
		font-size: 60px;
		padding: 3% 0;
	}

	.seccion1170{
		max-width: 1170px;
		margin: 0 auto;
		font-family: AmikoSemB;
		padding-bottom: 3%;
	}
		.seccion1170 h2{
			font-size: 30px;
			text-align: center;
			padding: 5% 0;
		}
		
		.imagenQuienesSomos{
			display:inline-block;
			width: 55%;
		}
		
			.imagenQuienesSomos img{
				width: 100%;
			}
		
		.textoQuienesSomos{
			display:inline-block;
			width: 35%;
			padding-left:  9%;
			vertical-align: top;
			font-family: AmikoReg;
		}
			
			.textoQuienesSomos p:first-child{
				margin: 6% 0;
				text-align: justify;
			}
			
				.textoQuienesSomos ul{
					padding-left: 7%;
				}
				
				.textoQuienesSomos ul li{
					list-style-image: url("../img/cairel.png");
					padding-bottom: 4%;
					padding-left: 1%;
				}
				
				.enlaceServicios{
					width: 75%;
					margin: 0 auto;
					padding: 3% 0;
					margin-top: 8%;
					background-color: black;
					color: white;
					text-align: center;
				}
				
					.enlaceServicios a:link, .enlaceServicios a:visited{
						color: white;
						text-decoration: none;
					}

		.subgrupoValor{
			display:inline-block;
			vertical-align: top;
			width: 30%;
			text-align: center;
		}
		
		.seccion1170 .subgrupoValor:nth-child(2){
			margin: 0 4%;
		}
		
			.iconoSubgrupoValor{
				padding-bottom: 5%;
			}
			
				.iconoSubgrupoValor i{
					font-size: 30px;
					
				}
			
			.tituloSubgrupoValor{
				font-family: AmikoBold;
				padding-bottom: 5%;
			}
			
			.textoSubgrupoValor p{
				padding-bottom: 4%;
				font-family: AmikoReg;
				color: grey;
			}
	
	.contenidoBordadores{
		width: 100%;
		margin: 0 auto;
 	}
	
		.subgrupoBordador{
			display: inline-block;
			width: 50%;
			height: 450px;
			max-width: 450px;
			text-align: center;
			background-position: center;
			border-radius: 50%;
			background-size: cover;
			vertical-align: top;
		}
		
		.subgrupoBordador p{
			width: 100%;
		}
		
		.contenidoBordadores .subgrupoBordador:first-child{
			margin-left: 7%;
			background-image: url("../img/acercaNosotros/bordadorJosito.JPG");
		}
		
		.contenidoBordadores .subgrupoBordador:last-child{
			margin-right: 7%;
			background-image: url("../img/acercaNosotros/bordadorSergio.jpg");
			float: right;
		}
		
			.textoSubgrupoBordador{
				position: relative;
				top: 40%;
			}
/**********************FIN ACERCA DE NOSOTROS********/
#pruebaAltura{
	height: 800px;	
}


@media (max-width: 1520px){
	
	.contenidoInfoCursosBordado{
		padding-top: 7%;
		margin-left: 9%;
	}
	
	.tituloInfoCursosBordado{
		font-size: 2.3vw;
	}
	
	.textoInfoCursosBordado{
		font-size: 1.5333vw;
	}
	
	.botonInfoCursosBordado{
		font-size: 1.2vw;
	}
}

@media (max-width:1387px){
	.parteSuperior{
		font-size: 1.7541vw;
	}
}

@media (max-width:1320px){
	.menuNavHeader ul li{
		font-size: 1.4417vw;
	}
	
	.textoSubgrupo{
		font-size: 1.8181vw;
	}
	
	.botonSubgrupo p{
		font-size: 1.3636vw;
	}
	
	.botonInfoCursosBordado p{
		font-size: 1.3636vw;
	}
}

@media only screen and (max-width:1190px){
/*******************INICIO INDEX************************/
	.cajaSectionIndex1170{
		max-width: none;
		width: 100%;
		padding: 3% 0;
	}
	
		.textoSecInd1170{
			font-size: 8.0672vw;
		}
		
		.enlaceSecInd1170{
			font-size: 1.5126vw;
		}
		
		.fraseComunicate{
			width: 97%;
			margin: 0 auto;
		}
/*******************INICIO ACERCA NOSOTROS 1170******/
	.seccion1170 h2 {
	    padding: 5% 5%;
	}
	
	.contenidoQuienesSomos{
		padding: 0 2%;
	}
		.textoQuienesSomos {
			width: 40%;
		    padding-left: 2%;
		    font-size: 1.3675vw;
		}
		
		.textoQuienesSomos p:first-child{
			margin-top: 0;
		}
		
		.enlaceServicios {
	    	margin-top: 5%;
		}
}

@media (max-width:1020px){
/*******************INICIO INDEX 1000****************/
	#headerWeb{
		padding-bottom: 0;
	}
		.headerEntero{
			display: none;
			max-width: none;
			width: 98%;
			margin: 0 auto;
			padding-bottom: 0;
			padding-top: 1%;
		}
		
		.headerEnteroMin{
			display: block;
		}
		
		.headerCentro{
			width: 50%;
			padding-left: 0;
			margin: 0 4%;
		}
		
		.headerDerecho{
			width: 20%;
			margin: 0 auto;
			padding-bottom: 0;
			
		}
	
	.textoPatrimonio{
		width: 90%;
		font-size: 3.5vw;
	}
	
	.logoPatrimonio img{
		width: 30.5098vw;
		margin: 0 auto;
	}
	
	.headerEnteroMin{
		width: 98%;
		margin: 0 auto;
		padding: 3% 0;
	}
	
		.headerIzqMin{
			display: inline-block;
			width: 20%;
			margin: 0 auto;
			text-align: center;
			font-size: 50px;
			float: left;
			padding-top: 23px;
		}
		
			.headerIzqMin{
				align-items: center;
			}
		
		.headerCenMin{
			display: inline-block;
			width: 45%;
			padding: 0 2%;
			text-align: center;
		}
		
			.headerCenMin img{
				width: 100%; 
				max-width: 250px;
			}
		
		.headerDerMin{
			display: inline-block;
			width: 30%;
			float: right;
		}
		
			.banderasMin{
				padding-top: 9%;
				text-align: center;
			}
		
			.redesSocialesMin{
				text-align: center;
				padding-top: 7%;
				vertical-align: bottom;
			}
/*******************INICIO ACERCA NOSOTROS 1000******/
	.seccion1170 h2 {
	    font-size: 4.2vw;
	}
}

@media (max-width:870px){
/*******************INICIO INDEX 850****************/
	.contenidoColumnaEnlaces{
		width: 100%;
	}
	
	.tituloColumnaFooter{
		font-size: 2.3529vw;
	}
	
	.contenidoColumnas{
		font-size: 1.6647vw;
	}
/*******************INICIO ACERCA NOSOTROS 850******/
	.contenidoEncabezado {
	    font-size: 7.0588vw;
	    padding: 6% 2%;
	}
}

@media (max-width:770px){
	.enlaceSecInd1170{
		font-size: 2.4126vw;
		width: 12%;
		padding: 2% 6%;
	}
	
	.fraseComunicate{
		font-size: 3.6667vw;
	}
	
	.contenidoSectionGrupoServicios{
		width: 97%;
		margin: 0 auto;
	}
/*******************INICIO ACERCA NOSOTROS 750******/
	
	.imagenQuienesSomos {
	    display: block;
	    width: 90%;
	    margin: 0 auto;
	    padding: 0 5%;
	}
	
	.textoQuienesSomos {
		display:block;
	    width: 90%;
	    margin: 0 auto;
	    padding: 3% 5%;
	    font-size: 3vw;
	}
	
		.textoQuienesSomos ul{
			width: 90%;
			padding-left: 9%;
		}
}

@media (max-width:670px){
	
	.columnaEnlaces, .columnaContacto, .columnaLegal{
		display: block;
		border: none;
		width: 75%;
		margin: 1% auto;
		padding: 1% 0;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
	
	.tituloColumnaFooter{
		font-size: 5vw;
	}
	
	.contenidoColumnas{
		font-size: 3vw;
	}
	
	.subgrupo{
		width: 45vw;
		height: 45vw;
	}
		.contenidoSectionGrupoServicios .subgrupo:nth-child(2){
			float: right;
		}
		
		.contenidoSectionGrupoServicios .subgrupo:nth-child(3){
			margin-top: 2%;
		}
		
		.contenidoSectionGrupoServicios .subgrupo:last-child{
			margin-top: 2%;
			float: right;
		}
	
			.textoSubgrupo {
			    font-size: 3.5vw;
			}
			
			.botonSubgrupo p {
			    font-size: 2.364vw;
			}
	
		.contenidoInfoCursosBordado{
			padding-top: 0%;
		}
			
			.tituloInfoCursosBordado {
			    font-size: 3.3vw;
			}
			
			.textoInfoCursosBordado {
			    font-size: 2.333vw;
			}
			
			.botonInfoCursosBordado {
			    width: 60%;
			    padding: 6%;
			}
			
				.botonInfoCursosBordado p{
					font-size: 1.6vw;
				}
		
		.headerIzqMin{
			font-size: 7.6923vw;
		}
		
		.iconoRedSocialFila1{
			width: 30%;
			margin: 0 auto;
			text-align: center;
		}
		
		.iconoRedSocialFila2{
			width: 30%;
			text-align: center;
			margin: 0 auto;
			padding-top: 5%;
		}
}

@media (max-width:500px){
	.contenidoSectionGrupoServicios {
	    width: 95%;
	    padding-bottom: 7%;
	}
		
		.contenidoSectionGrupoServicios .subgrupo:nth-child(1){
			display: block;
			margin: 0 auto;
			float: none;
			width: 90vw;
			height: 90vw;
		}
		
		.contenidoSectionGrupoServicios .subgrupo:nth-child(2){
			display: block;
			margin: 0 auto;
			float: none;
			width: 90vw;
			height: 90vw;
			margin-top: 2%;
		}
		
		.contenidoSectionGrupoServicios .subgrupo:nth-child(3){
			display: block;
			margin: 0 auto;
			float: none;
			width: 90vw;
			height: 90vw;
			margin-top: 2%;
		}
		
		.contenidoSectionGrupoServicios .subgrupo:nth-child(4){
			display: block;
			margin: 0 auto;
			float: none;
			width: 90vw;
			height: 90vw;
			margin-top: 2%;
		}
		
			.textoSubgrupo {
			    font-size: 6.5vw;
			}
			
			.botonSubgrupo p {
			    font-size: 4.364vw;
			}
		
		.contenidoSectionCursosVideo{
			width: 92%;
			height: 100vw;
		}
		
		.videoBordado{
			display: block;
			width: 100%;
			height: 43vw;
		}
		
		.contenidoInfoCursosBordado{
			display: block;
			width: 100%;
			margin: 0;
			padding-top: 3%;
		}
		
			.tituloInfoCursosBordado {
			    font-size: 7.3vw;
			}
			
			.textoInfoCursosBordado {
			    font-size: 5vw;
			}
			
			.botonInfoCursosBordado {
			    width: 45%;
			    padding: 4.5%;
			}
			
			.botonInfoCursosBordado p {
			    font-size: 4vw;
			}
	
	#headerWeb {
	    padding-bottom: 8px;
	}
		.banderaIdioma {
		    width: 32%;
		}
	
	.botonSubir {
    	font-size: 20px;
	}
}

@media (max-width:350px){
	.tituloColumnaFooter{
		font-size: 6vw;
	}
	
	.contenidoColumnas{
		font-size: 4vw;
	}
}